@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AILERONS";
  src: url("../public/ailerons/Ailerons-Typeface.otf");
}

@font-face {
  font-family: "player";
  src: url("../public/Press_Start_2P/PressStart2P-Regular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb)); */
  color: black;
  background: #dbeafe;
  /* margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  background: green;
  float: left;
  width: 100%; */
}
